<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="\css\styles.css" />
    <link rel="stylesheet" href="\css\normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body class="body">
    <header class="ml-yellow-background">
        <div class="flex justify-center flex align-center">
                <img
                    id="logo"
                    class="w-50 w-33-sm padding-8px"
                    src="\images\logo-mercado-liebre.svg" 
                    alt=""
                />
                <div class="padding-8 w-50 w-33-sm padding-8px">
                    <div class="positon flex no-wrap w-100">
                        <input class="searchbar"
                            type="text"
                            class="w-100"
                            placeholder="Buscar productos, marcas"
                        />
                        <button class="button"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <h3 class="text-center w-100 w-33-sm padding-8px">
                    <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y
                    sin tarjeta de crédito
                </h3>
            </div>


        <nav class="main-nav-bar">
            <ul class="left-bar">
                <li><a href="algo">Ofertas</a></li>
                <li><a href="algo">Tienas Oficiales</a></li>
                <li><a href="algo">Vender</a></li>
                <li><a href="algo">Ayuda</a></li>
            </ul>

            <ul class="right-bar">
                <li>
                    <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
                </li>
                <li>
                    <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                    <a href="algo">Mis compras <i class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>
        </nav>

        <a href="algo" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>
    </header>

    <div>
        <img class="banner" src="\images\img-home-banner.jpg" />
    </div>

    <main class="main">
        <section>
            <h2 class="text-title">Basado en tu última visita</h2>
            <div class="section">
                <div class="product-wrapper">
                    <article class="article">
                        <img class="imgs" src="\images\img-cafetera-moulinex.jpg" width="100%" />
                        <div class="article-box">
                            <i class="fas fa-truck"></i>
                            <div class="price-discount">
                                <p class="p-price">$6.770</p>
                                <p class="p-discount flex-grow">40% off</p>
                            </div>
                            <p class="descripcion">Cafetera Moulinex</p>
                        </div>
                </div>
                </article>
                <div class="product-wrapper">
                    <article class="article">
                        <img class="imgs" src="\images\img-macbook-pro-2019.jpg" width="100%" />
                        <div class="article-box">
                            <i class="fas fa-truck"></i>
                            <div class="price-discount">
                                <p class="p-price">$230.000</p>
                                <p class="p-discount">20% off</p>
                            </div>
                            <p class="descripcion">MacBook Pro 2019</p>
                        </div>
                </div>
                </article>
                <div class="product-wrapper">
                    <article class="article">
                        <img class="imgs" src="\images\img-samsung-galaxy-s10.jpg" width="100%" />
                        <div class="article-box">
                            <i class="fas fa-truck"></i>
                            <div class="price-discount">
                                <p class="p-price">$70.500</p>
                                <p class="p-discount">10% off</p>
                            </div>
                            <p class="descripcion">Samsung Galaxy S10</p>
                        </div>
                </div>
                </article>
                <div class="product-wrapper">
                    <article class="article">
                        <img class="imgs" src="\images\img-tv-samsung-smart.jpg" width="100%" />
                        <div class="article-box">
                            <i class="fas fa-truck"></i>
                            <div class="price-discount">
                                <p class="p-price">$23.200</p>
                                <p class="p-discount">5% off</p>
                            </div>

                            <p class="descripcion">Smart TV Samsung</p>
                        </div>
                </div>
                </article>
            </div>
        </section>

        <section>
            <h2 class="text-title">Ofertas</h2>
            <div class="section">
                <div class="product-wrapper">
                    <article class="article">
                        <img class="imgs" src="\images\img-cafetera-moulinex.jpg" width="100%" />
                        <div class="article-box">
                            <i class="fas fa-truck"></i>
                            <div class="price-discount">
                                <p class="p-price">$6.770</p>
                                <p class="p-discount flex-grow">40% off</p>
                            </div>
                            <p class="descripcion">Cafetera Moulinex</p>
                        </div>
                </div>
                </article>
                <div class="product-wrapper">
                    <article class="article">
                        <img class="imgs" src="\images\img-macbook-pro-2019.jpg" width="100%" />
                        <div class="article-box">
                            <i class="fas fa-truck"></i>
                            <div class="price-discount">
                                <p class="p-price">$230.000</p>
                                <p class="p-discount">20% off</p>
                            </div>
                            <p class="descripcion">MacBook Pro 2019</p>
                        </div>
                </div>
                </article>
                <div class="product-wrapper">
                    <article class="article">
                        <img class="imgs" src="\images\img-samsung-galaxy-s10.jpg" width="100%" />
                        <div class="article-box">
                            <i class="fas fa-truck"></i>
                            <div class="price-discount">
                                <p class="p-price">$70.500</p>
                                <p class="p-discount">10% off</p>
                            </div>
                            <p class="descripcion">Samsung Galaxy S10</p>
                        </div>
                </div>
                </article>
                <div class="product-wrapper">
                    <article class="article">
                        <img class="imgs" src="\images\img-tv-samsung-smart.jpg" width="100%" />
                        <div class="article-box">
                            <i class="fas fa-truck"></i>
                            <div class="price-discount">
                                <p class="p-price">$23.200</p>
                                <p class="p-discount">5% off</p>
                            </div>
                            <p class="descripcion">Smart TV Samsung</p>
                        </div>
                </div>
                </article>
            </div>
        </section>

        <footer class="titulos-footer footer-flex">
            
           <div class="padding-8px">
                <div class="footer-icons">
                    <i class="fas fa-credit-card"></i>
                </div>

                <h4>Pagá con tarjeta o en efectivo</h4>
                <p class="parrafos-footer">
                    Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o en efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>
           
           
            <div class="padding-8px">
                <div class="footer-icons">
                    <i class="fas fa-gift"></i>
                </div>

                <h4>Envío gratis desde los $ 2.500</h4>
                <p class="parrafos-footer">
                    Sólo por estar registrado en Mercado Liebre tenés envíos gratis en miles
                    de productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>
            

            <div class="padding-8px">
                <div class="footer-icons">
                    <i class="fas fa-user-shield"></i>
                </div>

                <h4>Seguridad de principio a fin</h4>
                <p class="parrafos-footer">
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas
                    hacer porque estás siempre protegid@
                </p>
            </div>
                       
        </footer>
        <p class="copyright">Copyright © 1999-2020 Mercado Liebre S.R.L.</p>
</body>

</html>